<nav class="navbar transparent navbar-toggleable-xl navbar-inverse navbar-fixed-bottom affix">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
                <span class="glyphicon c1-color-black glyphicon-play">
                </span>
        </a>
        <a class="navbar-brand"
           href="#">
                <span class="glyphicon c1-color-black glyphicon-eye-open">
                </span>
        </a>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#!/user/{{model.userId}}">
                    <span class="c1-color-black glyphicon glyphicon-user glyphicon-size pull-right">
                    </span>
                </a>
            </li>
        </ul>

    </div>
</nav>