<nav class="navbar transparent navbar-toggleable-xl navbar-inverse navbar-fixed-top affix">
    <div class="container-fluid">
        <a class="navbar-brand"
           href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <span
                        class="glyphicon c1-color-black glyphicon-chevron-left pull-left">
                </span>
        </a>

        <span
                class="navbar-brand c1-color-black c1-text-bold">
                <h4
                        class="c1-text-bold c1-color-black">
                    Widgets
                </h4>
            </span>
        <a class="navbar-brand pull-right c1-color-black"
           href="widget-chooser.view.client.html">
                <span
                        class="glyphicon glyphicon-plus c1-color-black">
                </span>
        </a>


    </div>
</nav>
