<nav class="navbar navbar-default navbar-fixed-top blue-background">
    <div class="col-xs-12">
        <a class="navbar-brand"
           href="#!/">
                <span class="col-xs-12 c1-text-bold">
                    Home Page
                </span>
        </a>

        <a href="#!/login"
           class="navbar-text pull-right">
            <span class="c1-text-bold c1-color-black col-xs-12">
                Login
            </span>
        </a>
        <a href="#!/register"
           class="navbar-text pull-right">
            <span class="c1-text-bold c1-color-black col-xs-12">
               Register
            </span>
        </a>
    </div>
</nav>
<div class="container-fluid top-margin">
    <!--<img src="../pictures/websitelogo.png" width="100" height="100" class="img-circle center-block img-responsive">-->
    <h1 class="text-center">Assignment 3- Client Side Development</h1>

    <p class="text-center c1-text-bold">In Assignment 3, We have extended the Prototype created in Assignment 2 by making the pages dynamic and turning the static application into a Single Page Application using Angular.js</p>


</div>
<nav class="navbar navbar-default navbar-fixed-bottom blue-background">
    <div class="col-xs-12">
    </div>
</nav>