<div class="row">
        <div class="col-xs-12">
            <form>
                <div class="form-group">
                    <label for="name" >
                        Name
                    </label>
                    <input
                            type="text"
                            ng-model="model.widget.name"
                            id="name"
                            class="form-control"
                            placeholder="Name"
                           required autofocus>
                </div>
                <div class="form-group">
                    <label for="text"
                           class="c1-text-bold">
                        Text
                    </label>
                    <input
                            type="text"
                            ng-model="model.widget.text"
                            id="text"
                            class="form-control"
                            placeholder="Title"
                           data-toggle="tooltip"
                           title="Enter Widget Text"
                            required>
                </div>
                <div class="form-group">
                    <label for="url" class="c1-text-bold">
                        URL
                    </label>
                    <input type="text"
                           ng-model="model.widget.url"
                           id="url"
                           class="form-control"
                           placeholder="URL"
                           data-toggle="tooltip"
                           title="Enter Widget URL"
                           required>
                </div>
                <div class="form-group">
                    <label for="width"
                           class="c1-text-bold">
                        Width
                    </label>
                    <select id="width"
                            ng-model="model.widget.width"
                            class="form-control"
                            data-toggle="tooltip"
                            title="Enter Widget width" required>
                             <option value="50">
                                 50%
                             </option>

                        <option value="100" selected>
                            100%
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <a href ng-click="model.deleteWidget()"
                       class="btn btn-lg btn-block btn-danger"
                       type="submit">
                        Delete
                    </a>
                </div>
            </form>
        </div>
</div>
