<link rel="stylesheet" href="../../../../project/css/adminPage.css">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/">
               ReadGood</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li><a ng-if="adminUserCtrl.currentUser.roles.indexOf('ADMIN')>-1" href="#!/admin">Admin</a></li>
                <li class="active" ng-show="!adminUserCtrl.currentUser._id"><a href="#!/login">Login</a></li>
                <li ng-show="!adminUserCtrl.currentUser._id"><a href="#!/register">Register</a></li>
                <li ng-show="adminUserCtrl.currentUser._id"><a ng-click="adminUserCtrl.logout()">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container-fluid">
    <h1 class="text-center">Users</h1>

    <ul class="list-group">
        <li class="list-group-item active">
            <div class="row">
                <div class="col-md-2 col-xs-12">
                    Username
                </div>
                <div class="col-md-2 col-xs-12">
                    First Name
                </div>
                <div class="col-md-2 col-xs-12">
                    Last Name
                </div>
                <div class="col-md-2 col-xs-12">
                    Email
                </div>
                <div class="col-md-2 col-xs-12">
                    Roles
                </div>
                <div class="col-sm-1 col-xs-12">
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-2 col-xs-12">
                    <input ng-model="adminUserCtrl.user.username"
                           class="form-control">
                </div>
                <div class="col-md-2 col-xs-12">
                    <input ng-model="adminUserCtrl.user.firstName"
                           class="form-control">
                </div>
                <div class="col-md-2 col-xs-12">
                    <input ng-model="adminUserCtrl.user.lastName"
                           class="form-control">
                </div>

                <div class="col-md-2 col-xs-12">
                    <input ng-model="adminUserCtrl.user.email"
                           class="form-control">
                </div>
                <div class="col-md-2 col-xs-12">
                    <input ng-model="adminUserCtrl.user.roles"
                           PLACEHOLDER="User Role"
                           class="form-control">
                </div>
                <div class="col-sm-1 col-xs-12">
                    <span ng-click="adminUserCtrl.updateUser(adminUserCtrl.user);adminUserCtrl.user={}"
                          class="glyphicon glyphicon-ok pull-right">
                    </span>
                    <span ng-click="adminUserCtrl.createUser(adminUserCtrl.user);adminUserCtrl.user={}"
                          class="glyphicon glyphicon-plus pull-right">
                    </span>
                </div>
            </div>
        </li>

        <li ng-repeat="user in adminUserCtrl.users" class="list-group-item">
            <div class="row">
                <div class="col-md-2 col-xs-12" style="font-size: 15px">
                    {{user.username}}
                </div>
                <div class="col-md-2 col-xs-12" style="font-size: 15px">
                    {{user.firstName}}
                </div>
                <div class="col-md-2 col-xs-12" style="font-size: 15px">
                {{user.lastName}}
            </div>
                <div class="col-md-2 col-xs-12" style="font-size: 15px">
                    {{user.email}}
                </div>
                <div class="col-md-2 col-xs-12" style="font-size: 15px">
                    {{user.roles}}
                </div>
                <div class="col-md-1 col-xs-12">
                     <span ng-click="adminUserCtrl.selectUser(user)"
                           class="glyphicon glyphicon-pencil pull-right">
                    </span>
                    <span ng-click="adminUserCtrl.deleteUser(user)"
                          class="glyphicon glyphicon-remove pull-right">
                    </span>
                </div>
            </div>
        </li>

    </ul>



</div>