<div ng-include="'views/common/header-admin.view.client.html'"></div>

<div class="container-fluid">
    <h1>Admin</h1>

    <ul class="list-group">
        <li class="list-group-item">
           <a href="#!/admin/user" class="hover">Users</a>
        </li>
        <li class="list-group-item">
            <a href="#!/admin/books" class="hover">Books</a>
        </li>
        <li class="list-group-item">
            <a href="#!/admin/following" class="hover">Following</a>
        </li>
        <li class="list-group-item">
            <a href="#!/admin/orders" class="hover">Orders</a>
        </li>
    </ul>



</div>