<nav class="navbar navbar-fixed-top ">
    <div class="container-fluid">
        <a
                class="navbar-brand"
                href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
            <span
                    class="glyphicon c1-color-black glyphicon-chevron-left pull-left">
            </span>
        </a>
        <span
                class="navbar-brand c1-text-bold c1-color-black">
                Choose Widget
        </span>
    </div>
</nav>

<div class="container-fluid top-margin">

    <div class="list-group">
        <div ng-repeat="widgetType in model.widgetTypeList" class="list-group-item border-black list-group-item-action flex-column align-items-start ">
            <div class="row">
                <div class="col-xs-12">
                    <a href ng-click="model.navigateNewWidget(widgetType)" class="black-link">
                        <h3 class="c1-text-bold">{{widgetType}}</h3>
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>

<div ng-include="'views/common/websitefooter.view.client.html'"></div>