


<div ng-include="'views/common/header-seller.view.client.html'"></div>
<div class="container-fluid">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Photo</th>
            <th>Name</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr  ng-repeat="book in model.books">
            <td><img src="{{book.photo}}" alt="book cover" width="100" height="100"></td>
            <td>{{book.name}}</td>
            <td>
                <a href="#!/seller/book/{{book._id}}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-block btn-success"
       ng-click="model.createBook(model.userId)">Add Book</a>
</div>