
<style>
    h1 {
        color: #15171b;
        font-family: 'Vollkorn';
        font-size: 60px;
        line-height: 120px;
        margin: 0 0 72px -10px;
        position: relative;
        text-align: center;
    }

    p {
        color: #d43f3a;
        font-family: 'Roboto';
        font-size: 25px;
        line-height: 48px;
        margin-bottom: 48px;
        width: 500px;
    }

</style>








<div ng-include="'views/common/header-seller.view.client.html'"></div>
<div class="container-fluid">

    <h1 class="text-center">Seller's Introduction</h1>


       <div>
           <h3 style="color: #eea236">Seller: {{model.book._user.username}}</h3>
       </div>

    <div>
        <h3 style="color: #eea236">Seller's Venmo: {{model.book._user.venmo}}</h3>
    </div>
        <div style="color: #d43f3a">
            <h3>Seller's Description:</h3>
        </div>
        <p class="col-xs-12">{{model.book.description}}</p>
    <div>
        <h3 style="color: #eea236">Price: {{model.book.price}}</h3>
    </div>
    <div>
        <h3 style="color: #d43f3a">Inventory: {{model.book.inventory}}</h3>
    </div>
</div>



    <div class="container-fluid">
        <h1 class="text-center">Google Book Information</h1>


        <div>
            <h3 style="color: #eea236">Title: {{model.item.title}}</h3>
        </div>


        <div style="color: #d43f3a">
            <h3>Description:</h3>
        </div>
        <p class="col-xs-12">{{model.item.description}}</p>
        <div>
            <h3 style="color: #eea236">ISBN: {{model.book.isbn}}</h3>
        </div>
        <div><h3 style="color: #d43f3a">Authors:</h3>
            <p ng-repeat="author in model.item.authors">{{author}}</p>
                &nbsp;
        </div>

        </div>


