<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand"
           href="#!/user/{{model.userId}}/website">
            <span
                    class="glyphicon c1-color-black glyphicon-chevron-left pull-left">

            </span>
        </a>
        <span
                class="navbar-brand c1-text-bold c1-color-black">
                Pages
        </span>
        <a class="navbar-brand pull-right c1-color-black"
           href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
            <span
                    class="glyphicon glyphicon-plus">

            </span>
        </a>
    </div>
</nav>
<div class="container-fluid overflow center-container top-margin">
    <div class="list-group">
        <div ng-repeat="page in model.pages"
                class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="row">
                <div class="col-xs-8">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget"
                       class="black-link">
                        <span class="c1-text-bold">
                            {{page.name}}
                        </span>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}"
                       class="c1-color-black glyphicon-size">
                        <span
                            class="glyphicon glyphicon-cog pull-right">

                        </span>
                    </a>
                </div>
            </div>
            <div class="row hidden-xs">
                <div class="col-xs-12">
                    <span>
                        {{page.title}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'views/common/websitefooter.view.client.html'"></div>