<div ng-include="'views/common/homeheader.view.client.html'"></div>
<div class="container-fluid top-margin home">

    <h1 class="c1-color-white text-center">Welcome to Eateries.com</h1>

</div>
<br>
<div id="content">

    <ul class="list-group">
        <li class="border-image list-group-item">
           <a href=""> <img alt="indian food" src="../../../../pictures/food1.jpg" width="200" height="200">
            <p>Indian Food</p>
           </a>
        </li>
        <li class="border-image list-group-item">
            <a href="">
            <img alt="chinese food" src="../../../../pictures/food2.jpg" width="200" height="200">
            <p>Chinese Food</p>
            </a>
        </li>
        <li class="border-image list-group-item">
            <a href="">
            <img alt="Italian food" src="../../../../pictures/food3.jpg" width="200" height="200">
            <p>Italian Food</p>
            </a>
        </li>
        <li class="border-image list-group-item">
            <a href="">
            <img alt="indian food" src="../../../../pictures/food1.jpg" width="200" height="200">
            <p>Indian Food</p>
            </a>
        </li>
        <li class="border-image list-group-item">
            <a href="">
            <img alt="indian food" src="../../../../pictures/food1.jpg" width="200" height="200">
            <p>Indian Food</p>
            </a>
        </li>
        <li class="border-image list-group-item">
            <a href="">
            <img alt="indian food" src="../../../../pictures/food1.jpg" width="200" height="200">
            <p>Indian Food</p>
            </a>
        </li>
        <li class="border-image list-group-item">
            <a href="">
            <img alt="indian food" src="../../../../pictures/food1.jpg" width="200" height="200">
            <p>Indian Food</p>
            </a>
        </li>
        <li class="border-image list-group-item">
            <a href="">
            <img alt="indian food" src="../../../../pictures/food1.jpg" width="200" height="200">
            <p>Indian Food</p>
            </a>
        </li>
        <li class="border-image list-group-item">
            <a href="">
            <img alt="indian food" src="../../../../pictures/food1.jpg" width="200" height="200">
            <p>Indian Food</p>
            </a>
        </li>
    </ul>
</div>







