
body {
    background:url("../../pictures/banner-bg.jpg");
    overflow-x: hidden;

}

.top-margin-big{
    margin-top: 20px;
}

.color-white{
  color: white;
}

p{
    text-align: justify;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}