body{
    background: url("../../pictures/banner-bg.jpg")
}
h1, h3,p, u,h2, h4, label {
    color: white;
}
p{
    text-align: justify;
}
li#special{
    background-color: black;
}


.width{
    width: 77%
}

.red-color{
    color: red;
}
.background-black{background-color: black}