html,
body {
    background: #333 url(../../pictures/booksng2.jpg) no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.btn.btn-embossed {
    color: #fff;
    background-color: black;
    font-size: 70%;
    -webkit-box-shadow: 0 3px rgba(58,87,175,.75);
    -moz-box-shadow: 0 3px rgba(58,87,175,.75);
    box-shadow: 0 3px rgba(58,87,175,.75);
    margin-bottom: 5px;
}
