<link rel="stylesheet" href="../../../../project/css/homebook-info.css">


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/">
                ReadGood</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <!--<li class="active"><a href="#!/">Home</a></li>-->
                <li><a ng-if="model.currentUser.roles.indexOf('ADMIN')>-1" href="#!/admin">Admin</a></li>
                <li class="active" ng-show="!model.currentUser._id"><a href="#!/login">Login</a></li>
                <li ng-show="!model.currentUser._id"><a href="#!/home/books">Search Books</a></li>
                <li ng-show="!model.currentUser._id"><a href="#!/register">Register</a></li>
                <li ng-show="model.currentUser._id"><a href="#!/profile">Profile</a></li>
                <!--<li ng-show="model.currentUser._id">Logged in as {{model.currentUser}}</li>-->

                <!--<li ng-show="model.currentUser._id"><a ng-click="model.logout()">Logout</a></li>-->
            </ul>
        </div>
    </div>
</nav>









<div class="container-fluid">

    <div class="row">
        <div class="col-md-3">
            <img src="{{model.book.photo}}" width="250" height="350">
        </div>
        <div class="col-md-9">
            <h2>{{model.item.title}}</h2>
            <hr>
            <h3 ng-repeat="author in model.item.authors">Author: {{author}}</h3>
            <h3>Buy: {{model.book.price}}</h3>
            <hr>
            <p>{{model.item.description}}</p>
            <p class="pull-left">ISBN: {{model.book.isbn}}</p>
            <p class="pull-right">
                <a href="https://books.google.com/books?isbn={{model.book.isbn}}" class="btn btn-embossed btn-block btn-primary c1-color-black">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                    Go directly to Google Books to have a preview
                </a>
            </p>
            <!--<p>-->
            <!--<a class="btn btn-block btn-embossed c1-color-white popup" onclick="myFunction()">Interested in Buying this?</a>-->
            <!--</p>-->
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-6">
            <u>
                <p>
                    Seller Details
                </p>
            </u>
            <h4> Posted By:
                <a class="btn btn-embossed"href="#!/login">
                    <h4>{{model.book._user.firstName}} {{model.book._user.lastName}} ({{model.book._user.username}})<br>
                        <u> Know More About This Seller</u></h4>
                </a>
            </h4>
            <h4>Seller Venmo Payment Id: {{model.book._user.venmo}}</h4>
            <h4>Description Posted By Seller: {{model.book.description}}</h4>
            <h4>Number of Copies of this Book: {{model.book.inventory}}</h4>
        </div>
        <div class="col-lg-6"><div class="col-xs-12 col-md-2">
        </div>
            <div class="col-xs-12 col-md-10">
                <div ng-show="model.message" class="alert alert-info">
                    {{model.message}}</div>
                <h3>Interested? Send Request to Seller in few simple steps</h3>
                <label for="venmo">Venmo</label>
                <input type="text"
                       id="venmo"
                       ng-class="{submitted:model.submitted1}"
                       class="form-control"
                       name="venmo"
                       ng-model="model.order.venmo"
                       placeholder="venmo account"/>
                <div ng-show="model.error1" class="alert alert-danger">
                    {{model.error1}}</div>
                <label for="email">Email</label>
                <input type="email"
                       id="email"
                       class="form-control"
                       name="email"
                       ng-class="{submitted:model.submitted2}"
                       ng-model="model.order.email"
                       placeholder="manikaranjan2211@gmail.com"/>
                <div ng-show="model.error2" class="alert alert-danger">
                    {{model.error2}}
                </div>
                <label for="quantity">Quantity</label>
                <input type="number"
                       id="quantity"
                       class="form-control"
                       name="quantity"
                       ng-class="{submitted:model.submitted3}"
                       ng-model="model.order.quantity"
                       placeholder="e.g 5"/>
                <div ng-show="model.error3" class="alert alert-danger">
                    {{model.error3}}
                </div>
                <label>Message to Sender</label>
                <textarea ng-model="model.order.message"
                          id="request"
                          class="form-control"
                          name="request"
                          placeholder="Message to Seller"
                          rows="3"></textarea>
                <br>
                <a href="#!/login" class="btn btn-block c1-color-white background-black">
                    Send Buying Request
                </a>
            </div></div>
    </div>


</div>

<div ng-include="'views/user/templates/websitefooter.view.client.html'"></div>
