

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">Delightreads</div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#!/buyer/home">Home</a></li>
                <li><a ng-if="model.currentUser.roles.indexOf('ADMIN')>-1" href="#!/admin">Admin</a></li>
                <li ng-show="!model.currentUser._id"><a href="#!/login">Login</a></li>
                <li ng-show="model.currentUser._id"><a href="#!/buyer/books">Books</a></li>
                <li ng-show="!model.currentUser._id"><a href="#!/register">Register</a></li>
                <li ng-show="model.currentUser._id"><a href="#!/profile/buyer">Profile</a></li>
                <li ng-show="model.currentUser._id"><a ng-click="model.logout()">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
