<nav class="navbar navbar-inverse navbar-fixed-top blue-background">
    <div class="row">
        <a class="navbar-brand"
           href="#!/">
            <div class="col-xs-4">
                <img class="img-fluid img-responsive " src="../../../pictures/websitelogo1.jpg">
            </div>

        </a>

        <a href="#!/login"
           class="navbar-text pull-right">
            <i class="fa fa-sign-in c1-color-white" aria-hidden="true">
                Login
            </i>
        </a>
        <a href="#!/register"
           class="navbar-text pull-right">
            <i class="fa fa-user-plus c1-color-white c1-text-bold">
                Register
            </i>
        </a>
    </div>
</nav>n