<div ng-include="'views/common/homeheader.view.client.html'"></div>
<div class="container-fluid top-margin home">

<h1 class="c1-color-white text-center black-background ">Welcome to Musically.com</h1>

</div>
<div class="guide-features pad">
    <div class="container">
        <h2 class="text-center">Why Choose Musically:</h2>
        <div class="features-list row">
            <div class="feature-item col-xs-4 text-center">
                <img src="../../../pictures/search.png" alt="Search" width="100" height="100">
                <h4>Easy to search songs for your mood</h4>
                <p>Listen to Songs recommended for your mood</p>
            </div>
            <div class="feature-item col-xs-4 text-center">
                <img src="../../../pictures/review.jpg" alt="reviews" width="100" height="100" />
                <h4>Leave comments on Music that You like</h4>
                <p>You can leave comments on songs that You like</p>
            </div>
            <div class="feature-item col-xs-4 text-center">
                <img src="../../../pictures/follow.jpg" alt="Follow" width="100" height="100" />
                <h4>Read what others say about the song</h4>
                <p>Comments of others can also help you make better choices</p>

            </div>
        </div>
    </div>
</div>
<div ng-include="'views/common/commonfooter.view.client.html'"></div>