html,
body {
    height: 100%;
    background: #333 url(pictures/goodbg.jpg) no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.navbar{
    background: transparent;
}
.text{
    font-size: 20px;
    font-weight: 900;
    color: black;
    font-family: "Comic Sans MS";
}
.top-margin{
    margin-top: 70px;
}
.containertext{
    font-size: 30px;
    font-family: Arial;

}
.overflow{
    overflow-y:scroll; max-height:100%;
}
.black-background{
    background-color: black;
}
.c1-text-white{
    color: white;
}