
<style>
    h1 {
        color: #15171b;
        font-family: 'Vollkorn';
        font-size: 60px;
        line-height: 120px;
        margin: 0 0 72px -10px;
        position: relative;
        text-align: center;
    }

    p {
        color: #d43f3a;
        font-family: 'Roboto';
        font-size: 25px;
        line-height: 48px;
        margin-bottom: 48px;
        width: 500px;
    }

</style>








<div ng-include="'views/common/header-buyer.view.client.html'"></div>
<div class="container-fluid">
    <div style="margin-top: 5px" ng-show="model.message" class="alert alert-info">
        {{model.message}}
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-2">
            <img style="margin-top: 50px" src={{model.item.imageLinks.smallThumbnail}} alt="book cover">
        </div>
        <div class="col-xs-12 col-md-10">
            <label for="venmo">Venmo</label>
            <input type="text"
                   id="venmo"
                   ng-class="{submitted:model.submitted1}"
                   class="form-control"
                   name="venmo"
                   ng-model="model.order.venmo"
                   placeholder="venmo account"/>
            <div ng-show="model.error1" class="alert alert-danger">
                {{model.error1}}</div>
            <label for="email">Email</label>
            <input type="email"
                   id="email"
                   class="form-control"
                   name="email"
                   ng-class="{submitted:model.submitted2}"
                   ng-model="model.order.email"
                   placeholder="jc@gmail.com"/>
            <div ng-show="model.error2" class="alert alert-danger">
                {{model.error2}}
            </div>
            <label for="quantity">Quantity</label>
            <input type="number"
                   id="quantity"
                   class="form-control"
                   name="quantity"
                   ng-class="{submitted:model.submitted3}"
                   ng-model="model.order.quantity"
                   placeholder="10"/>
            <div ng-show="model.error3" class="alert alert-danger">
                {{model.error3}}
            </div>

            <textarea ng-model="model.order.message"
                      id="request"
                      class="form-control"
                      name="request"
                      placeholder="send buying message to seller"
                      rows="6"
                      style="margin-top: 10px"></textarea>
            <br>
            <a ng-click="model.createOrder(model.order,model.userId,model.bookId)" class="btn btn-success">Send Buying Request</a>
        </div>
    </div>
    <h1 class="text-center">Seller's Introduction</h1>


    <div>
        <h3 style="color: #eea236">Seller:
            <a class="hover" style="font-size: 350%" href="#!/books/list/seller/{{model.book._user._id}}">{{model.book._user.username}}
            </a>Check this Seller!!</h3>
    </div>
    <div>
        <h3 style="color: #eea236">Seller's Venmo: {{model.book._user.venmo}}</h3>
    </div>
    <div style="color: #d43f3a">
        <h3>Seller's Description:</h3>
    </div>
    <p class="col-xs-12">{{model.book.description}}</p>
    <div>
        <h3 style="color: #eea236">Price: {{model.book.price}}</h3>
    </div>
    <div>
        <h3 style="color: #d43f3a">Inventory: {{model.book.inventory}}</h3>
    </div>
</div>



<div class="container-fluid">
    <h1 class="text-center">Google Book Information</h1>


    <div>
        <h3 style="color: #eea236">Title: {{model.item.title}}</h3>
    </div>


    <div style="color: #d43f3a">
        <h3>Description:</h3>
    </div>
    <p class="col-xs-12">{{model.item.description}}</p>
    <div>
        <h3 style="color: #eea236">ISBN: {{model.book.isbn}}</h3>
    </div>
    <div><h3 style="color: #d43f3a">Authors:</h3>
        <p ng-repeat="author in model.item.authors">{{author}}</p>
        &nbsp;
    </div>

</div>


