html,
body {
    height: 100%;
    background: #333 url(../../../pictures/goodbg.jpg) no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
@media only screen and (min-width: 400px) {
    html,
    body {
        height: 100%;
        background: #333 url(../../../pictures/goodbg.jpg) no-repeat fixed center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: hidden;
    }
}
.top-buffer {
    margin-top:20px;
}
.control-margin {
    margin-top: 10px;
}
.navbar-color{
    background-color: #d9d9d9;
}
.c1-color-white{
    color: #ffffff;

}
.c1-text-bold{
    font-weight: 900;
    font-size: 18px;
}

.c1-list-item-borderless{
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    border-bottom: 0 none;
    }
.top-margin{
    margin-top: 70px;
}
.cl-icon-padding {
    padding-left: 10px;
    padding-right: 10px;
}
.navbar-offwhite-color{
    background-color: #d9d9d9;
}
.c1-color-black{
    color: #000000;
}
.font-large{
    font-size: 25px;
}
.font-little-large{
    font-size: 20px;
}



a:hover{
    color: black;
}
a:visited, a:link, a:active
{
    text-decoration: none;
}
.navbar {
    background-color: transparent;
    background: rgba(255, 255, 255, 0.4);
    border-color: transparent;
}

.navbar-default .navbar-brand {
    color: #000000;
}



.overflow{
    overflow-y:scroll; max-height:100%;
}
.center {
    text-align: center;
}


.container-fluid{
    background-color: transparent;
}
.list-group-item{
    background-color: transparent;
}
.black-link{
    color: #000;
}

.glyphicon-size{
    font-size: 25px
}

.widget-border{
    border-width:3px;
    margin-top: 5px;
    border-radius: 3px;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.right-border {
    border-right: 1px solid black;
}
.full-height{
    height:100% ;
}
.mybody {
    padding-top: 60px;
    padding-bottom: 60px;
}
.mycenter-container {
    max-height: 100%;
    overflow-y: scroll;
}
.mywidget {
    color: black;
    margin: 5px;

}

.mywidget .col-xs-12 {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
}
.my-widget-toolbar {
    color: #ffff;
    position: absolute;
    background:black;
    right: 10px;
    border-radius: 4px;
    padding: 5px;
}
.my-widget-toolbar-ontop {
    z-index: 1;
}
.navbar-bg{
    background: rgba(255, 255, 255, 0.5);
}

.widget-overflow{

    height: 950px;
    overflow-y: scroll;
}
.crop {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:100%;
}​

