<div ng-include="'views/common/homeheader.view.client.html'"></div>
<div class="col-xs-2 top-extra-margin">
    <ul class="list-group">
        <li class="list-group-item"><a href="" class="c1-color-black">Project Description</a> </li>
    </ul>
</div>
<div class="col-xs-10">
<div class="container-fluid top-margin home">

    <h1 class="c1-color-white text-center">Welcome to Eateries.com</h1>

</div>
<br>
<div id="content">

    <ul class="list-group">
        <li class="border-image list-group-item">
           <a href="" class="c1-color-black"> <img alt="Pop Music" src="../../../../pictures/pop2.jpg" width="200" height="200">
            <p class="text-center">Pop Music</p>
           </a>
        </li>
        <li class="border-image list-group-item">
            <a href="" class="c1-color-black">
            <img alt="chinese food" src="../../../../pictures/pop2.jpg" width="200" height="200">
            <p class="text-center">Chill</p>
            </a>
        </li>
        <li class="border-image list-group-item">
            <a href="" class="c1-color-black">
            <img alt="Italian food" src="../../../../pictures/pop2.jpg" width="200" height="200">
                <p class="text-center">Top Lists</p>
            </a>
        </li>
        <li class="border-image list-group-item">
            <a href="" class="c1-color-black">
            <img alt="indian food" src="../../../../pictures/pop2.jpg" width="200" height="200">
                <p class="text-center">Hip Hop</p>
            </a>
        </li>
        <li class="border-image list-group-item">
            <a href="" class="c1-color-black">
            <img alt="indian food" src="../../../../pictures/pop2.jpg" width="200" height="200">
                <p class="text-center">Party</p>
            </a>
        </li>
        <li class="border-image list-group-item">
            <a href="" class="c1-color-black">
            <img alt="indian food" src="../../../../pictures/pop2.jpg" width="200" height="200">
            <p class="text-center">Sleep</p>
            </a>
        </li>
        <li class="border-image list-group-item">
            <a href="" class="c1-color-black">
            <img alt="indian food" src="../../../../pictures/pop2.jpg" width="200" height="200">
            <p class="text-center">Indie</p>
            </a>
        </li>
        <li class="border-image list-group-item">
            <a href="" class="c1-color-black">
            <img alt="indian food" src="../../../../pictures/pop2.jpg" width="200" height="200">
            <p class="text-center">International Hits</p>
            </a>
        </li>
        <li class="border-image list-group-item">
            <a href="" class="c1-color-black">
            <img alt="indian food" src="../../../../pictures/pop2.jpg" width="200" height="200">
            <p class="text-center">Regional</p>
            </a>
        </li>
    </ul>
</div>
</div>







