<div class="row">
        <div class="col-xs-12">
                <div class="form-group">
                    <label for="name" class="c1-text-bold">
                        Name
                    </label>
                    <input type="text"
                           ng-model="model.widget.name"
                           id="name"
                           class="form-control"
                           title="Enter Widget Name"
                           required autofocus>
                </div>
                <div class="form-group">
                    <label for="text"
                           class="c1-text-bold">Text</label>
                    <input type="text"
                           ng-model="model.widget.text"
                           id="text" class="form-control"
                           data-toggle="tooltip"
                           title="Enter Widget Text"
                            required>
                </div>
                <div class="form-group">
                    <label for="size"
                           class="c1-text-bold">
                        Size
                    </label>
                    <input type="number"
                           ng-model="model.widget.size"
                           id="size"
                           class="form-control"
                           value="6"
                           data-toggle="tooltip"
                           title="Enter Widget Size"
                           min="1" max="6" required>
                </div>

                <div class="form-group">
                    <a href ng-click="model.deleteWidget()" class="btn btn-lg btn-block btn-danger" type="submit">Delete</a>
                </div>
        </div>
</div>