<nav class="navbar navbar-fixed-top navbar-offwhite-color">
    <div class="container-fluid">
        <a
                class="navbar-brand"
                href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
            <span
                class="glyphicon c1-color-black glyphicon-chevron-left pull-left">
            </span>
        </a>
        <span
                class="navbar-brand c1-text-bold c1-color-black">
                Choose Widget
        </span>
    </div>
</nav>

<div class="container-fluid top-margin">
<div class="list-group">
    <div class="list-group-item border-black list-group-item-action flex-column align-items-start ">
        <div class="row">
            <div class="col-xs-12">
                <a href="widget-heading.view.client.html"
                   class="black-link">
                    <h4 class="c1-text-bold">
                        Header
                    </h4>
                </a>
            </div>
        </div>
    </div>

    <div class="list-group-item border-black list-group-item-action flex-column align-items-start ">
        <div class="row">
            <div class="col-xs-12">
                <a href="#"
                   class="black-link">
                    <h4 class="c1-text-bold">
                        Label
                    </h4>
                </a>
            </div>
        </div>
    </div>

    <div class="list-group-item border-black list-group-item-action flex-column align-items-start ">
        <div class="row">
            <div class="col-xs-12">
                <a href="#"
                   class="black-link">
                    <h4
                            class="c1-text-bold">
                        HTML
                    </h4>
                </a>
            </div>
        </div>
    </div>

    <div class="list-group-item border-black list-group-item-action flex-column align-items-start">
        <div class="row">
            <div class="col-xs-12">
                <a href="#"
                   class="black-link">
                    <h4
                            class="c1-text-bold">
                        Text Input
                    </h4>
                </a>
            </div>
        </div>
    </div>

    <div class="list-group-item border-black list-group-item-action flex-column align-items-start">
        <div class="row">
            <div class="col-xs-12">
                <a href="#"
                   class="black-link">
                    <h4
                            class="c1-text-bold">
                        Link
                    </h4>
                </a>
            </div>
        </div>
    </div>

    <div class="list-group-item list-group-item-action border-black flex-column align-items-start ">
        <div class="row">
            <div class="col-xs-12">
                <a href="#"
                   class="black-link">
                    <h4
                            class="c1-text-bold">
                        Button
                    </h4>
                </a>
            </div>
        </div>
    </div>

    <div class="list-group-item list-group-item-action flex-column border-black align-items-start border-black">
        <div class="row">
            <div class="col-xs-12">
                <a href="widget-image.view.client.html"
                   class="black-link">
                    <h4
                            class="c1-text-bold">
                        Image
                    </h4>
                </a>
            </div>
        </div>
    </div>

    <div class="list-group-item list-group-item-action flex-column border-black align-items-start border-black">
        <div class="row">
            <div class="col-xs-12">
                <a href="widget-youtube.view.client.html"
                   class="black-link">
                    <h4
                            class="c1-text-bold">
                        Youtube
                    </h4>
                </a>
            </div>
        </div>
    </div>

    <div class="list-group-item list-group-item-action flex-column border-black align-items-start border-black">
        <div class="row">
            <div class="col-xs-12">
                <a href="#"
                   class="black-link">
                    <h4
                            class="c1-text-bold">
                        Data Table
                    </h4>
                </a>
            </div>
        </div>
    </div>

    <div class="list-group-item list-group-item-action flex-column align-items-start border-black">
        <div class="row">
            <div class="col-xs-12">
                <a href="#"
                   class="black-link">
                    <h4
                            class="c1-text-bold">
                        Repeater
                    </h4>
                </a>
            </div>
        </div>
    </div>
</div>
</div>

<nav class="navbar navbar-fixed-bottom navbar-offwhite-color">
    <div class="container-fuild">
        <a href="../../user/templates/profile.view.client.html"
           class="navbar-link navbar-text pull-right c1-color-black c1-text-bold cl-icon-padding">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
</body>