<div class="container-fluid mycenter-container full-height
widget-overflow">

    <nav class="navbar transparent navbar-toggleable-xl navbar-inverse navbar-fixed-top affix">
        <div class="container-fluid">
            <a class="navbar-brand"
               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <span
                        class="glyphicon c1-color-black glyphicon-chevron-left pull-left">
                </span>
            </a>

            <span
                    class="navbar-brand c1-color-black c1-text-bold">
                <h4
                        class="c1-text-bold c1-color-black">
                    Widgets
                </h4>
            </span>
            <a class="navbar-brand pull-right c1-color-black"
               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                <span
                        class="glyphicon glyphicon-plus c1-color-black">
                </span>
            </a>


        </div>
    </nav>


    <div class="row mybody mywidget">

        <div ng-repeat="widget in model.widgets" class="col-xs-12">
            <div class="mywidget-toolbar">
                <a class="black-link"
                   href="#">
                    <span
                            class="glyphicon glyphicon-menu-hamburger pull-right">
                    </span>
                </a>
                <a class="black-link"
                   href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                    <span
                            class="glyphicon glyphicon-cog pull-right">
                    </span>
                </a>
            </div>

            <div ng-switch="widget.widgetType">
                <div ng-switch-when="HEADING">
                    <div ng-include="'views/widget/templates/widgetTypeTemplates/widget-heading.view.client.html'"></div>
                </div>
                <div ng-switch-when="IMAGE">
                    <div ng-include="'views/widget/templates/widgetTypeTemplates/widget-image.view.client.html'"></div>
                </div>
                <div ng-switch-when="YOUTUBE">
                    <div ng-include="'views/widget/templates/widgetTypeTemplates/widget-youtube.view.client.html'"></div>
                </div>
                <div ng-switch-when="HTML"
                     ng-bind-html="model.trustThisContent(widget.text)">

                </div>
            </div>

        </div>
    </div>


    <div ng-include="'views/common/footer.view.client.html'"></div>

</div>