<nav class="navbar navbar-default navbar-fixed-top">
    <div class="col-xs-12">
        <a class="navbar-brand"
           href="#!/">
                <span class="col-xs-12 c1-text-bold">
                    Home Page
                </span>
        </a>

        <a href="#!/login"
           class="navbar-text pull-right">
            <span class="c1-text-bold c1-color-black col-xs-12">
                Login
            </span>
        </a>
        <a href="#!/register"
           class="navbar-text pull-right">
            <span class="c1-text-bold c1-color-black col-xs-12">
               Register
            </span>
        </a>
    </div>
</nav>
<div class="container-fluid top-margin">
    <h1 class="text-center">Assignment 4- Server Side Development</h1>

</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="col-xs-12">
    </div>
</nav>