<nav class="navbar navbar-default navbar-fixed-top blue-background">
    <div class="col-xs-12">
        <a class="navbar-brand"
           href="#!/">
                <span class="col-xs-12 c1-text-bold">
                    Home Page
                </span>
        </a>


    </div>
</nav>
<div class="container-fluid top-margin">
    <!--<img class="center-block" src="../../../pictures/logo.jpg" width="200">-->
    <h1 class="text-center">Assignment 5- Database Programming Assignment</h1>
    <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
        <a href="#!/login" class="btn btn-default" role="button">Login</a>
        <a href="#!/register" class="btn btn-default" role="button">Register</a>

    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom blue-background">
    <div class="col-xs-12">
    </div>
</nav>