
<link rel="stylesheet" href="../../../../project/css/buyer-orders-view.css">



<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/">
               ReadGood</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <!--<li class="active"><a href="#!/buyer/home">Home</a></li>-->
                <li><a ng-if="buyerOrderCtrl.currentUser.roles.indexOf('ADMIN')>-1" href="#!/admin">Admin</a></li>
                <li ng-show="buyerOrderCtrl.currentUser._id"><a href="#!/buyer/books">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <i class="fa fa-book" aria-hidden="true"></i>
                    Search Books</a></li>
                <li ng-show="!buyerOrderCtrl.currentUser._id"><a href="#!/register">Register</a></li>
                <li ng-show="buyerOrderCtrl.currentUser._id"><a href="#!/profile/buyer">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Profile</a></li>
                <li ng-show="buyerOrderCtrl.currentUser._id"><a href="">Logged in as "{{buyerOrderCtrl.currentUser.username}}"</a></li>
            </ul>
        </div>
    </div>
</nav>




<div class="container-fluid">
    <div style="margin-top: 5px" ng-show="buyerOrderCtrl.message" class="alert alert-info">
        {{buyerOrderCtrl.message}}
    </div>

    <div ng-repeat="order in buyerOrderCtrl.orders">
        <div class="row">
            <div class="col-md-2 hidden-xs">
                <img src="{{order.photo}}" class="pull-right">
            </div>
            <div class="col-md-8 col-xs-6">
                <u><h3>{{order.name}}</h3></u>
                sold By: {{order.seller}}<br>
                You have ordered {{order.quantity}} copies of this Book.
            </div>
            <div class="col-md-2 col-xs-6">
                <div ng-show="order.request&&!order.reject" style="margin-right: 30px" class="pull-right">
                    <h3>Pending
                    </h3>
                </div>
                <div ng-show="!order.request&&!order.reject"  class="pull-right">
                    <h4>Shipping</h4>
                    <div class="divider-silver"></div>
                    <a class="btn btn-embossed" ng-click="buyerOrderCtrl.deleteBothOrder(order._id, order.sorderId)">Received</a>
                </div>
                <div ng-show="order.reject"  class="pull-right">
                    <h4>Rejected</h4>
                    <div class="divider-silver"></div>
                    <a class="btn btn-embossed btn-wide" ng-click="buyerOrderCtrl.deleteOrder(order._id)">Delete</a>
                </div>
            </div>

        </div>
    </div>
</div>

<div ng-include="'views/user/templates/websitefooter.view.client.html'"></div>