<link rel="stylesheet" href="../../../../project/css/buyer-seller-books.css">


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/">
               ReadGood</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li><a ng-if="buyerSellerBooksCtrl.currentUser.roles.indexOf('ADMIN')>-1" href="#!/admin">Admin</a></li>
                <li ng-show="buyerSellerBooksCtrl.currentUser._id"><a href="#!/buyer/books">
                    <i class="fa fa-search"></i>
                    <i class="fa fa-book" aria-hidden="true"
                       data-toggle="tooltip" title="Books"><span>&nbsp;Search Books</span>
                    </i></a></li>
                <li ng-show="buyerSellerBooksCtrl.currentUser._id"><a href="#!/profile/buyer"><i class="fa fa-user" aria-hidden="true"
                                                                                           data-toggle="tooltip" title="Profile">
                    <span>&nbsp;Profile</span>
                </i></a></li>
                <li ng-show="buyerSellerBooksCtrl.currentUser._id"><a href=""><i>Logged in as "{{buyerSellerBooksCtrl.currentUser.username}}"</i></a></li>
                <li ng-show="buyerSellerBooksCtrl.currentUser._id"><a ng-click="buyerSellerBooksCtrl.logout()">
                    <i class="fa fa-sign-out" aria-hidden="true"><span>Logout</span></i></a></li>
            </ul>
        </div>
    </div>
</nav>



<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-2">
            <div ng-show="!buyerSellerBooksCtrl.follow">
                <a class="btn btn-success pull-right"
                   ng-click="buyerSellerBooksCtrl.followSeller(buyerSellerBooksCtrl.userId, buyerSellerBooksCtrl.sellerId)">
                    <span class="glyphicon glyphicon-plus"></span>
                    Follow {{buyerSellerBooksCtrl.seller.username}}
                </a></div>
            <div ng-show="buyerSellerBooksCtrl.follow">
                <a class="btn btn-info pull-right"
                   ng-click="buyerSellerBooksCtrl.unfollowSeller(buyerSellerBooksCtrl.userId, buyerSellerBooksCtrl.sellerId)">
                    <span class="glyphicon glyphicon-minus"></span>
                    Unfollow {{buyerSellerBooksCtrl.seller.username}}
                </a></div>
        </div>
        <div class="col-xs-12 col-sm-10">
            <div>
                <h3>Seller Name :&nbsp;{{buyerSellerBooksCtrl.seller.firstName}} {{buyerSellerBooksCtrl.seller.lastName}} (username: {{buyerSellerBooksCtrl.seller.username}})</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <ul class="inlineList">
            <li id="special" ng-repeat="book in buyerSellerBooksCtrl.books">
                <a href="#!/buyer/books/{{book._id}}">
                <img src="{{book.photo}}" width="350" height="350">
                </a>
                <p class="text-center wordwrap">{{book.name}}</p>
                <center><a href="#!/buyer/books/{{book._id}}"><p><span class="glyphicon glyphicon-book"></span>
                    <u>Book Details</u></p></a></center>
            </li>
        </ul>
    </div>

</div>


<div ng-include="'views/user/templates/websitefooter.view.client.html'"></div>