

<link href="../../../../project/css/profile-style.css" rel="stylesheet">


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/">
               ReadGood</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li><a ng-if="profileCtrl.currentUser.roles.indexOf('ADMIN')>-1" href="#!/admin">Admin</a></li>
                <li ng-show="profileCtrl.currentUser._id"><a href="#!/buyer/books">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <i class="fa fa-book" aria-hidden="true"
                                                                                           data-toggle="tooltip" title="Books"><span>&nbsp; Search Books</span>
                </i></a></li>
                <li ng-show="profileCtrl.currentUser._id"><a href="#!/profile/buyer"><i class="fa fa-user" aria-hidden="true"
                                                                                             data-toggle="tooltip" title="Profile">
                    <span>&nbsp; Profile</span>
                </i></a></li>
                <li ng-show="profileCtrl.currentUser._id"><a href=""><i>Logged in as "{{profileCtrl.currentUser.username}}"</i></a></li>
                <li ng-show="profileCtrl.currentUser._id"><a ng-click="profileCtrl.logout()">
                    <i class="fa fa-sign-out" aria-hidden="true"><span>Logout</span></i></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="row">
<div class="col-md-2 hidden-xs" role="group" aria-label="...">

</div>
<div class="container-fluid col-xs-12 col-md-10">

    <form>
        <h1 class="text-center">
            Profile-Buyer
        </h1>
        <div>
        <div class="form-group">
        <div ng-show="profileCtrl.message" class="alert alert-info">
            {{profileCtrl.message}}
        </div>
            <label for="username">
                <span class="c1-color-white" >
                    Username
                </span>
            </label>
        <input readonly ng-model="profileCtrl.user.username"
        type="text"
        class="form-control"
        id="username"
        placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">
                <span class="c1-color-white" >
                    Email address
                </span>
            </label>
        <input ng-model="profileCtrl.user.email"
        type="email"
        class="form-control"
        id="email"
        placeholder="Email">
        </div>
        <div class="form-group">
            <label for="first-name">
                <span class="c1-color-white" >
                    First Name
                </span>
            </label>
        <input ng-model="profileCtrl.user.firstName"
        type="text"
        class="form-control"
        id="first-name"
        placeholder="First Name">
        </div>
        <div class="form-group">
            <label for="last-name"><span class="c1-color-white" >Last Name</span></label>
        <input ng-model="profileCtrl.user.lastName"
        type="text"
        class="form-control"
        id="last-name"
        placeholder="Last Name">
            <br>
            <a class="btn btn-block c1-color-black" href="#!/buyer/following">
                <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i><span>&nbsp;Sellers You Follow</span>
            </a>
            <a class="btn btn-block c1-color-black"  href="#!/buyer/orders">
                <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i><span>&nbsp;Your Past Orders</span>
            </a>
            <a class="btn btn-block c1-color-black"
               ng-click="profileCtrl.updateUser(profileCtrl.userId, profileCtrl.user)">
                <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                <span>&nbsp;Update</span></a>
            <a class="btn btn-block c1-color-black"
               ng-click="profileCtrl.unregister()">
                <i class="fa fa-trash-o fa-2x"></i><span>&nbsp;Unregister</span>
            </a>
            <a class="btn btn-block c1-color-black"
               ng-click="profileCtrl.logout()"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
                <span>&nbsp;Logout</span></a>
        </div>
        </div>
    </form>
</div>
</div>

<div ng-include="'views/user/templates/websitefooter.view.client.html'"></div>
