
<link rel="stylesheet" href="../../../../project/css/buyer-orders-view.css">



<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/">
                <img class="img-fluid img-responsive img-fitColumn" src="../../../../pictures/image.jpg">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li><a ng-if="buyerOrderCtrl.currentUser.roles.indexOf('ADMIN')>-1" href="#!/admin">Admin</a></li>
                <li ng-show="buyerOrderCtrl.currentUser._id"><a href="#!/buyer/books">
                    <i class="fa fa-search"></i>
                    <i class="fa fa-book" aria-hidden="true"
                       data-toggle="tooltip" title="Books"><span>&nbsp;Search Books</span>
                    </i></a></li>
                <li ng-show="buyerOrderCtrl.currentUser._id"><a href="#!/profile/buyer"><i class="fa fa-user" aria-hidden="true"
                                                                                           data-toggle="tooltip" title="Profile">
                    <span>&nbsp; Profile</span>
                </i></a></li>
                <li ng-show="!buyerOrderCtrl.currentUser._id"><a href="#!/register">Register</a></li>

                <li ng-show="buyerOrderCtrl.currentUser._id"><a href=""><i>Logged in as "{{buyerOrderCtrl.currentUser.username}}"</i></a></li>
                <li ng-show="buyerOrderCtrl.currentUser._id"><a ng-click="buyerOrderCtrl.logout()">
                    <i class="fa fa-sign-out" aria-hidden="true"><span>Logout</span></i></a></li>
            </ul>
        </div>
    </div>
</nav>




<div class="container-fluid">
    <div ng-show="buyerOrderCtrl.message" class="alert alert-info top-buffer">
        {{buyerOrderCtrl.message}}
    </div>

    <div ng-if="!buyerOrderCtrl.orders || buyerOrderCtrl.orders.length === 0 ">
        <h1 class="lead text-center">
            Hey {{buyerOrderCtrl.currentUser.username}}, It looks Like You havent placed any orders Yet!!
        <br>Explore Books in our Extensive Collection and Make an Order
        </h1>
    </div>

    <div ng-repeat="order in buyerOrderCtrl.orders">
        <div class="row">
            <div class="col-md-2 hidden-xs">
                <img src="{{order.photo}}" class="pull-right">
            </div>
            <div class="col-md-8 col-xs-6">
                <u>
                    <h3>
                        {{order.name}}
                    </h3>
                </u>
                Sold By: {{order.seller}}
                <br>
                You have ordered {{order.quantity}} copies of this Book.
            </div>
            <div class="col-md-2 col-xs-6">
                <div ng-show="order.request&&!order.reject" style="margin-right: 30px" class="pull-right">
                    <h3>
                        Seller has not responded anything yet!!
                    </h3>
                </div>
                <div ng-show="!order.request&&!order.reject"  class="pull-right">
                    <h4>
                        Item is Being Shipped To You
                    </h4>
                    <div class="divider-silver"></div>
                    <a class="btn btn-embossed" ng-click="buyerOrderCtrl.deleteOrderFromSellerBuyer(order._id, order.sorderId)">
                        Click If You have Recieved the order
                    </a>
                </div>
                <div ng-show="order.reject"  class="pull-right">
                    <h4>
                        Sorry, But Your Request Has been Rejected
                    </h4>
                    <div class="divider-silver">

                    </div>
                    <a class="btn btn-embossed btn-wide"
                       ng-click="buyerOrderCtrl.deleteOrder(order._id)">
                        Delete this Order
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<div ng-include="'views/user/templates/websitefooter.view.client.html'"></div>