<link rel="stylesheet" href="../../../../project/css/buyer-book-info.css">


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/">
                ReadGood</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li><a ng-if="bookInfoCtrl.currentUser.roles.indexOf('ADMIN')>-1" href="#!/admin">Admin</a></li>
                <li class="active" ng-show="!bookInfoCtrl.currentUser._id"><a href="#!/login">Login</a></li>
                <li ng-show="bookInfoCtrl.currentUser._id"><a href="#!/buyer/books"><i class="fa fa-search" aria-hidden="true"></i>
                    <i class="fa fa-book" aria-hidden="true"></i>
                    Search Books</a></li>
                <li ng-show="!bookInfoCtrl.currentUser._id"><a href="#!/register">Register</a></li>
                <li ng-show="bookInfoCtrl.currentUser._id"><a href="#!/profile/buyer">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Profile</a></li>
                <li ng-show="bookInfoCtrl.currentUser._id"><a href="">Logged in as "{{bookInfoCtrl.currentUser.username}}"</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">

            <div class="row">
                <div class="col-md-3 hidden-xs">
                    <img src="{{bookInfoCtrl.book.photo}}"
                         width="250" height="350">
                </div>
                <div class="col-md-9 col-xs-12">
                    <h2>{{bookInfoCtrl.item.title}}</h2>
                    <hr>
                    <h3 ng-repeat="author in bookInfoCtrl.item.authors">
                        Author: {{author}}
                    </h3>
                    <h3>
                        Buy: {{bookInfoCtrl.book.price}}
                    </h3>
                    <hr>
                    <p>
                        {{bookInfoCtrl.item.description}}
                    </p>
                    <div class="row">
                        <p class="pull-left">ISBN-10: {{bookInfoCtrl.item.industryIdentifiers[1].identifier}}</p>
                        <p class="pull-right">
                            Page Count: {{bookInfoCtrl.item.pageCount}}
                        </p>
                    </div>
                    <div class="row">
                        <p class="pull-left">
                            Publisher: {{bookInfoCtrl.item.publisher}}
                        </p>
                        <p class="pull-right">
                            Published On: {{bookInfoCtrl.item.publishedDate}}
                        </p>
                    </div>
                </div>
            </div>
<hr>
            <div class="row">
                <div class="col-lg-6">

                    <h3>
                        Seller Details
                    </h3>
                        <h4> Posted By:
                            <a class="btn btn-embossed c1-color-white"
                               href="#!/books/list/seller/{{bookInfoCtrl.book._user._id}}">
                                {{bookInfoCtrl.book._user.firstName}} {{bookInfoCtrl.book._user.lastName}} ({{bookInfoCtrl.book._user.username}}) (Click on Seller to Find other books uploaded by {{bookInfoCtrl.book._user.username}})<br>
                            </a>
                        </h4>
                    <h4>
                        Seller Venmo Payment Id: {{bookInfoCtrl.book._user.venmo}}
                    </h4>
                    <h4>
                        Description Posted By Seller:{{bookInfoCtrl.book.description}}
                    </h4>
                    <h4>
                        Number of Copies of this Book: {{bookInfoCtrl.book.inventory}}</h4>
                </div>
                <div class="col-lg-6">
                    <div class="col-xs-12 col-md-2">
                </div>
                    <div class="col-xs-12 col-md-10">
                        <div ng-show="bookInfoCtrl.message" class="alert alert-info">
                            {{bookInfoCtrl.message}}
                        </div>
                        <h3>
                            Interested? Send Request to Seller in few simple steps
                        </h3>
                        <label for="Address">Address</label>
                        <input type="text"
                               id="Address"
                               ng-class="{submitted:bookInfoCtrl.submitted1}"
                               class="form-control"
                               name="venmo"
                               ng-model="bookInfoCtrl.order.venmo"
                               placeholder="Address for shipping"/>
                        <div ng-show="bookInfoCtrl.error1" class="alert alert-danger">
                            {{bookInfoCtrl.error1}}
                        </div>
                        <label for="email">
                            Email
                        </label>
                        <input type="email"
                               id="email"
                               class="form-control"
                               name="email"
                               ng-class="{submitted:bookInfoCtrl.submitted2}"
                               ng-model="bookInfoCtrl.order.email"
                               placeholder="Valid Email "/>
                        <div ng-show="bookInfoCtrl.error2" class="alert alert-danger">
                            {{bookInfoCtrl.error2}}
                        </div>
                        <label for="quantity">
                            Quantity
                        </label>
                        <input type="number"
                               id="quantity"
                               class="form-control"
                               name="quantity"
                               ng-class="{submitted:bookInfoCtrl.submitted3}"
                               ng-model="bookInfoCtrl.order.quantity"
                               placeholder="e.g 5"/>
                        <div ng-show="bookInfoCtrl.error3" class="alert alert-danger">
                            {{bookInfoCtrl.error3}}
                        </div>
                        <label>Message to Sender</label>
                        <textarea ng-model="bookInfoCtrl.order.message"
                                  id="request"
                                  class="form-control"
                                  name="request"
                                  placeholder="Message to Seller(Optional)"
                                  rows="3"></textarea>
                        <br>
                        <a ng-click="bookInfoCtrl.createOrder(bookInfoCtrl.order,bookInfoCtrl.userId,bookInfoCtrl.bookId)"
                           class="btn btn-block c1-color-white background-black">
                            Send Buying Request
                        </a>
                    </div>
                </div>
            </div>


</div>
<br>
<br>


