<link href="../../../../project/css/login-style.css" rel="stylesheet">



<div class="container-fluid">
    <div ng-show="loginCtrl.message" class="alert alert-danger">{{loginCtrl.message}}</div>

    <div class="login-page">
        <div class="form">
            <form class="login-form">
                <input ng-model="username"
                       autocorrect="off"
                       autocapitalize="off"
                       spellcheck="false"
                       type="text"
                       id="username"
                       name="username"
                       class="form-control"
                       placeholder="username" required/>
                <div class="alert alert-danger"
                     ng-show="form.$submitted && form.username.$error.required">
                    Username is required
                </div>
                <input ng-model="password"
                       type="password"
                       id="password"
                       class="form-control"
                       name="password"
                       placeholder="password" required/>
                <div class="alert alert-danger"
                     ng-show="form.$submitted && form.password.$error.required">
                    Password is required
                </div>
                <button ng-click="loginCtrl.login(username, password)"
                type="submit"
                class="btn btn-primary btn-block">
                Login
                </button>
                <a href="/auth/google" class="btn btn-danger btn-block">
                    <span class="fa fa-google-plus"></span>
                    Google
                </a>
                <a href="/auth/facebook" class="btn btn-primary btn-block">
                    <span class="fa fa-facebook"></span>
                    Facebook
                </a>
                <p class="message">Not registered? <a href="#!/register">Create an account</a></p>
            </form>
        </div>
    </div>
</div>
