<div ng-include="'views/common/commonheader.view.client.html'"></div>

<div class="container top-margin">
    <div ng-show="model.message" class="alert alert-info">{{model.message}}</div>
    <h1 class="form-signin-heading c1-color-white">
        Login
    </h1>
    <label for="username"  class="c1-color-white top-buffer">
        Username
    </label>
    <input ng-model="username" type="text" id="username"
           class="form-control"
           placeholder="manika"
           autofocus
           required>


    <label for="inputPassword"  class="c1-color-white top-buffer">
        Password
    </label>
    <input type="password" ng-model="password"
           id="inputPassword" class="form-control"
           required>
    <a ng-click="model.login(username,password)"
       class="btn btn-lg btn-primary btn-block top-buffer" type="submit">
        Login
    </a>
    <a ng-href="#!/register"
       class="btn btn-lg btn-block btn-success top-buffer">
        Register
    </a>
</div>

<div ng-include="'views/common/commonfooter.view.client.html'"></div>