<link rel="stylesheet" href="../../../../project/css/seller-book-info.css">


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/">
               ReadGood</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li><a ng-if="sellerBookCtrl.currentUser.roles.indexOf('ADMIN')>-1" href="#!/admin">Admin</a></li>
                <li class="active" ng-show="!sellerBookCtrl.currentUser._id"><a href="#!/login">Login</a></li>
                <li ng-show="!sellerBookCtrl.currentUser._id"><a href="#!/register">Register</a></li>
                <li ng-show="sellerBookCtrl.currentUser._id"><a href="#!/profile/seller"><i class="fa fa-user" aria-hidden="true"
                                                                                   data-toggle="tooltip" title="Profile">
                    <span>&nbsp; Profile</span>
                </i></a></li>
                <li ng-show="sellerBookCtrl.currentUser._id"><a href="">Logged in as "{{sellerBookCtrl.currentUser.username}}"</a></li>
                <!--<li ng-show="sellerBookCtrl.currentUser._id"><a ng-click="sellerBookCtrl.logout()">Logout</a></li>-->
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="container-fluid ">


    <div ng-if="!sellerBookCtrl.books || sellerBookCtrl.books.length === 0 ">
        <h1 class="text-center">You havent uploaded any Books yet</h1>
    </div>


    <ul class="inlineList">
        <li id="special" ng-repeat="book in sellerBookCtrl.books">
            <a href="#!/seller/books/{{book._id}}" >
                <img src="{{book.photo}}" alt="book cover" width="350" height="350">
            </a>
                <p class="text-center wordwrap">{{book.name}}</p>
            <center><a href="#!/seller/book/{{book._id}}" class="c1-color-white">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a></center>
        </li>
    </ul>
        </div>
            <center><a class="btn btn-lg btn-default c1-color-black"
       ng-click="sellerBookCtrl.createBook(sellerBookCtrl.userId)">
       <span class="glyphicon glyphicon-plus-sign color-white"></span>
       <span class="glyphicon glyphicon-book color-white"></span>

       <span class="c1-color-white">Add New Book</span></a>
   </center>

<!--<div ng-include="'views/user/templates/websitefooter.view.client.html'"></div>-->