

<link rel="stylesheet" href="../../../../project/css/book-edit-view.css">




<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/">
                <img class="img-fluid img-responsive img-fitColumn" src="../../../../pictures/image.jpg">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li><a ng-if="bookEditCtrl.currentUser.roles.indexOf('ADMIN')>-1" href="#!/admin">Admin</a></li>
                <li class="active" ng-show="!bookEditCtrl.currentUser._id"><a href="#!/login">Login</a></li>
                <li ng-show="bookEditCtrl.currentUser._id"><a href="#!/seller/books"><i class="fa fa-book" aria-hidden="true"
                                                                                 data-toggle="tooltip" title="Books"><span>&nbsp; Books</span>
                </i></a></li>
                <li ng-show="!bookEditCtrl.currentUser._id"><a href="#!/register">Register</a></li>
                <li ng-show="bookEditCtrl.currentUser._id"><a href="#!/profile/seller"><i class="fa fa-user" aria-hidden="true"
                                                                                   data-toggle="tooltip" title="Profile">
                    <span>&nbsp; Profile</span>
                </i></a></li>
                <li ng-show="bookEditCtrl.currentUser._id"><a href="">Logged in as "{{bookEditCtrl.currentUser.username}}"</a></li>
                <li ng-show="bookEditCtrl.currentUser._id"><a ng-click="bookEditCtrl.logout()">
                    <i class="fa fa-sign-out" aria-hidden="true"><span>Logout</span></i></a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div ng-show="bookEditCtrl.message" class="alert alert-info">
        {{bookEditCtrl.message}}</div>

        <u class="c1-color-white">
        <h1 class="text-center">Sell A Book</h1>
        <h4 class="text-center">Tips: Please add Valid Keywords. Avoid Special Symbols.</h4>
        </u>
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                <label>ISBN/Name/Author</label>
                    <input type="text"
                           class="form-control"
                           ng-class="{submitted:bookEditCtrl.submitted1}"
                           ng-model="bookEditCtrl.book.isbn" placeholder="International Standard Book Number/Book Name/Book Author">
                    <div ng-show="bookEditCtrl.error1" class="alert alert-danger">
                        {{bookEditCtrl.error1}}</div>
            </div>

                <div class="col-lg-4 col-xs-12">
                    <label>
                            Inventory
                        </label>
                        <input type="text"
                               class="form-control"
                               ng-class="{submitted:bookEditCtrl.submitted2}"
                               ng-model="bookEditCtrl.book.inventory" placeholder="Copies of Book">
                        <div ng-show="bookEditCtrl.error2" class="alert alert-danger">
                            {{bookEditCtrl.error2}}</div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <label>Price(In $)</label><input type="text" class="form-control"
                                                 ng-class="{submitted:bookEditCtrl.submitted3}"
                                                 ng-model="bookEditCtrl.book.price" placeholder="price at which you are selling">
                        <div ng-show="bookEditCtrl.error3" class="alert alert-danger">
                            {{bookEditCtrl.error3}}</div>
                </div>
                </div>
    <div class="row">
        <div class="color-white text-center">
            Description Of Book
        <textarea class="form-control"
                  rows="5"
                  ng-model="bookEditCtrl.book.description"></textarea>
        </div>
    </div>
        <br>
        <center>
            <a ng-click="bookEditCtrl.updateBook(bookEditCtrl.bookId,bookEditCtrl.book)" class="btn btn-default btn-wide c1-color-black">
            <span class="color-white">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                Update Book
            </span>
            </a>
            <a ng-click="bookEditCtrl.deleteBook(bookEditCtrl.bookId)" class="btn btn-default btn-wide c1-color-black">
                <span class="color-white">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                Delete Book
                </span>
            </a>
        </center>
        </div>
</div>

<div ng-include="'views/user/templates/websitefooter.view.client.html'"></div>

