
<link href="../../../../project/css/seller-book-info.css" rel="stylesheet">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/">
               ReadGood</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <!--<li class="active"><a href="#!/seller/home">Home</a></li>-->
                <li><a ng-if="bookInfoCtrl.currentUser.roles.indexOf('ADMIN')>-1" href="#!/admin">Admin</a></li>
                <li ng-show="!bookInfoCtrl.currentUser._id"><a href="#!/login">Login</a></li>
                <li ng-show="bookInfoCtrl.currentUser._id"><a href="#!/seller/books"><i class="fa fa-book" aria-hidden="true"
                                                                                 data-toggle="tooltip" title="Books"><span>&nbsp; Books</span>
                </i></a></li>
                <li ng-show="!bookInfoCtrl.currentUser._id"><a href="#!/register">Register</a></li>
                <li ng-show="bookInfoCtrl.currentUser._id"><a href="#!/profile/seller"><i class="fa fa-user" aria-hidden="true"
                                                                                   data-toggle="tooltip" title="Profile">
                    <span>&nbsp; Profile</span>
                </i></a></li>
                <li ng-show="bookInfoCtrl.currentUser._id"><a href=""><i>Logged in as "{{bookInfoCtrl.currentUser.username}}"</i></a></li>
                <li ng-show="bookInfoCtrl.currentUser._id"><a ng-click="bookInfoCtrl.logout()">
                    <i class="fa fa-sign-out" aria-hidden="true"><span>Logout</span></i></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div ng-show="bookInfoCtrl.messageSeller" class="alert alert-danger text-center top-margin">
        {{bookInfoCtrl.messageSeller}}
    </div>
    <div class="row">
        <div class="col-md-1 hidden-xs"></div>
        <div class="col-md-11 col-xs-12">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                <img src="{{bookInfoCtrl.book.photo}}" width="250" height="350">
                </div>
                <div class="col-md-9 col-xs-12">
                    <h2>{{bookInfoCtrl.item.title}}</h2>
                    <hr>
                    <h3 ng-repeat="author in bookInfoCtrl.item.authors">Author: {{author}}</h3>
                    <hr>
                    <p>{{bookInfoCtrl.item.description}}</p>

                    <p class="pull-left">ISBN-10: {{bookInfoCtrl.item.industryIdentifiers[1].identifier}}</p>
                    <p class="pull-right">
                        Page Count: {{bookInfoCtrl.item.pageCount}}
                    </p>
                    <br>

                </div>
            </div>
            <hr>
            <div class="row">
                <u><h3 class="text-center">Further Details About this Item</h3></u>
                <h3 class="pull-left">Posted By: {{bookInfoCtrl.book._user.username}}</h3>
                <h3 class="pull-right">Priced at {{bookInfoCtrl.book.price}}</h3>
            </div>
            <div class="row">
                <div class="pull-left">
                    <div ng-show="bookInfoCtrl.book.description">
                        <h3>{{bookInfoCtrl.book.description}}</h3>
                    </div>
                </div>
                <h2 class="pull-right">Books Available in your inventory: {{bookInfoCtrl.book.inventory}}</h2>
            </div>
            <div class="row">
                <h3 class="pull-left">Publishers of this Book: {{bookInfoCtrl.item.publisher}}</h3>
                <h3 class="pull-right">Published on: {{bookInfoCtrl.item.publishedDate}}</h3>
            </div>
        </div>
    </div>
</div>

<div ng-include="'views/user/templates/websitefooter.view.client.html'"></div>


