<nav class="navbar transparent navbar-toggleable-xl navbar-inverse navbar-fixed-bottom affix">
    <div class="container-fuild">
        <p class="navbar-brand pull-left">Copyright @ <a href="https://github.com/manika0407" class="c1-color-white"
                                                                                 target="_blank"><i class="fa fa-github c1-color-white"
                                                                                                    aria-hidden="true"></i>
            Manika Sharma</a></p>
        <a ng-if="model.currentUser.roles.indexOf('SELLER')>-1" href="#!/profile/seller"
           class="navbar-link navbar-text pull-right c1-color-white c1-text-bold cl-icon-padding">
            <span class="glyphicon glyphicon-user"></span></a>
        <a ng-if="model.currentUser.roles.indexOf('BUYER')>-1" href="#!/profile/buyer"
           class="navbar-link navbar-text pull-right c1-color-white c1-text-bold cl-icon-padding">
            <span class="glyphicon glyphicon-user"></span></a>
    </div>
</nav>