<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fuild">
        <p class="navbar-brand pull-left">Copyright @ <a href="https://github.com/manika0407" class="c1-color-white"
                                                                                 target="_blank"><i class="fa fa-github c1-color-white"
                                                                                                    aria-hidden="true"></i>
            Manika Sharma</a></p>
    </div>
</nav>