<div ng-include="'views/common/header-buyer.view.client.html'"></div>

<div class="container-fluid home">
    <h1>Welcome to Book Finder</h1>
</div>

<div class="guide-features pad">
    <div class="container">
        <h4>Why Choose Us</h4>
        <div class="features-list row">
            <div class="feature-item col-xs-4">
                <img src="../../../../pictures/dollar.jpg" alt="shopping cart" width="100" height="100">
                <h6>good price for book buyers</h6>
                <p>This is a good place to buy books with pretty good price if you don't mind second hand books.</p>
            </div>
            <div class="feature-item col-xs-4">
                <img src="../../../../pictures/booksbg.jpg" alt="" width="100" height="100" />
                <h6>good place to sell second hand books</h6>
                <p>Are the piles of books annoying when you are moving? Or you wanna resource recycling, and get win-win results with your book buyers. </p>
            </div>
            <div class="feature-item col-xs-4">
                <img src="../../../../pictures/follow.jpg" alt="book" width="100" height="100" />
                <h6>follow sellers you like as buyer</h6>
                <p>Our sellers provide a diversity of good books, and some of them may share common interest with you, sell the types of books you like, follow them immediately on Delightreads!!</p>

            </div>
        </div>
    </div>
</div>