

<div id="content" ng-repeat="item in model.items">
<div class="row">
<div class="col-xs-10">
<ul>
    <li>
        <div id="title">
        <h3 class="title">
            <a ng-click="">{{item.title}}</a>
        </h3>
        </div>
        <div class="abaproduct-image">
            <a href="">
            <img src={{item.imageLinks.smallThumbnail}}>
            </a>
        </div>
        <div class="abaproduct-details">
        <p>By
            <a ng-repeat="author in item.authors" href="/search/author/%22Rowling%2C%20J.%20K.%22">{{author}}
            &nbsp;
            </a>
        </p>

        <div id="button">
            <a ng-click=""
               class="form-submit btn btn-success form-submit"
               id="edit-add-to-cart"
               name="op"
               type="submit">
                Check Book Reviews
            </a>
        </div>
        <br>
        <!--<h3><strong>{{item.listPrice.amount}}</strong></h3>-->
        <div ng-repeat="isbn in item.industryIdentifiers">
            <div  ng-switch="isbn.type">
                <div ng-switch-when="ISBN_13">
        <span><strong>ISBN-13:</strong> {{isbn.identifier}}</span><br>
                </div>
                </div>
        </div>
        <span><strong>Published:</strong> {{item.publisher}}, {{item.publishedDate}}</span><br>
    </div>
    </li>
</ul>
</div>
<div id="outerlink" class="col-xs-2">

    <a href= {{item.infoLink}}>
        <span class="glyphicon glyphicon-book">
        </span>
    </a>

    </div>

</div>
</div>
